.app-header {
    background-color: rgb(230, 191, 85);
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            a {
                padding-bottom: 20px;
                margin: 20px;
                &:hover{
                    text-decoration: none;
                }
            }
            .active {
                border-bottom: 5px solid white;
            }
        }
    }
}
